.header-wrapper{
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: space-around;
    color: white;
    height: 40px;
}
.left{
    padding: 0;
    align-items: left;
    text-align: left;
    ;
}
.right{
    margin-left: 10px;
}