 
 * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh; /* ensures body takes full height */
  display: flex;
  flex-direction: column;
}
body {
  margin: 0;
  padding: 0;
}

body {
      background-color: #f8f9fa;
    }

    header {
      background-color: #fff;
      box-shadow: 0 2px 5px rgba(0,0,0,0.1);
      text-align: center;
      padding: 15px 0;
      position: sticky;
      top: 0;
      z-index: 100;
    }
     .header-wrapper{
    background-color: black;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    color: white;
    height: 40px;
    margin: 0;
    padding: 5px;
    margin-top: auto;
    margin-right: 0%;
   
}
.left{
    padding: 0;
    align-items: center;
    display: flex;
    text-align: left;
    margin-right: 450px;
    font-weight: 100;
   gap: 10px;
   font-size: 12px;
   opacity: 0.7;
    ;
}
.right{
    margin-left: 350px;
    justify-content: space-between;
    display: flex;
    gap: 10px;
    opacity: 0.7;
}

    header img {
      width: 150px;
    }

  .footer{
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: black;
  color: white;
  height: 100px;
bottom: 0px;
  width: 100%;

}

    .progress-step {
      border-bottom: 3px solid #dee2e6;
      text-align: center;
      padding: 8px 0;
      font-weight: 500;
    }

    .progress-step.active {
      border-color: #0d6efd;
      color: #0d6efd;
    }

    .invalid-feedback {
      display: none;
    }

    .form-control.is-invalid + .invalid-feedback,
    .form-select.is-invalid + .invalid-feedback {
      display: block;
    }
  
 .footer {
  width: 100%;
  background-color: black;
  color: white;
  text-align: center;
  padding: 15px 0;
  font-size: 14px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 0%;
  margin-bottom: 0%;
  margin-right: 0%;
}
